body{
    width:fit-content;
    height:fit-content;
    background-color: whitesmoke;
}

header{
    width: max-content;
    display:flex;
    background-color: white;
    border-radius: 10px;
    margin: 5px;
    align-items: center;
    padding: 10px;
}

header a{
    color: blue;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 28px;
    text-decoration: none;
    margin-left: 15px;
    font-weight: 1000;
}

#search-bar{
    align-items: center;
    display: flex;
    margin-left: 30px;
    margin-right: 5px;
    position: relative;
}

#search-bar input{
    position: absolute;
    width:625px;
    height: 35px;
    padding-left: 40px;
    border-radius: 10px;
}

#search-bar i{
    margin-top: 1px;
    margin-left: 18px;
    position: relative;
    z-index: 2;
}

#user-icon{
    align-items: center;
    margin-left: 658px;
    display: flex;
}

#user-icon a{
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
}

#user-icon a:hover{
    background-color: #2874f0; /* Flipkart blue */
}

#user-icon a:hover h2,
#user-icon a:hover i{
    color: white;
}

#user-icon h2{
    font-size: 20px;
    color: black;
    margin: 0;
}

#user-icon i{
    font-size: 20px;
    color: black;
    margin-right: 10px;
}

#cart a,
#seller a{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    margin-right: 13px;
}

#cart h2,
#seller h2{
    color: black;
    margin: 0;
}

#cart i,
#seller i{
    color: black;
    margin-right: 11px;
}